@model NorseWar.Models.ItemShield

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Szczegóły</h2>
<hr>
<div>
    <div class="itemDetailImage"><img src="~/weaponImg/wand.png" /></div>

            Nazwa:

            @Html.DisplayFor(model => model.Name)</br>

            Opis:

            @Html.DisplayFor(model => model.Description)</br>

            @Html.DisplayNameFor(model => model.StrBonus):

            @Html.DisplayFor(model => model.StrBonus)</br>

            @Html.DisplayNameFor(model => model.AgiBonus):

            @Html.DisplayFor(model => model.AgiBonus)</br>

            @Html.DisplayNameFor(model => model.DexBonus):

            @Html.DisplayFor(model => model.DexBonus)</br>

            @Html.DisplayNameFor(model => model.VitBonus):

            @Html.DisplayFor(model => model.VitBonus)</br>

            @Html.DisplayNameFor(model => model.IntBonus):

            @Html.DisplayFor(model => model.IntBonus)</br>

            @Html.DisplayNameFor(model => model.LukBonus):

            @Html.DisplayFor(model => model.LukBonus)



</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ItemShieldID }) |
    @Html.ActionLink("Powrót", "Index")
</p>