@model IEnumerable<NorseWar.Models.ItemShield>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<table id="tableShields">
    <tr>
        <th>
            <span>Nazwa</span>
        </th>
        <th>
            <span>Opis</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ItemShieldID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ItemShieldID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ItemShieldID })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Stwórz nową", "Create")
</p>