@model NorseWar.Models.Account
@{
    ViewBag.Title = "Logowanie";
}

<script>
    $(function(){
       $(".body-content").css({ width: "980px" });
    });
</script>

<h2>Gra jest w 100% darmowa! Zero mikropłatności, tylko czysta rozgrywka! Zapraszamy do zabawy!</h2>
<br />

@if (NorseWar.Helper.Methods.RegisterSuccess != null)
{
    <div id="errorLogIn">
        Konto zostało założone, możesz się zalogować
    </div>
}


<h4>Zaloguj się do gry!</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Login) } }) <br />
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", Id = "errorLogIn" })
        </div>

        <br />

        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) } }) <br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", Id = "errorLogIn" })
        </div>

        <br />

        

        @if (NorseWar.Helper.Methods.RegisterSuccess == null)
        {
            if (NorseWar.Helper.Methods.LoginFailed == "Error")
            {
                <div id="errorLogIn">
                    Podano niepoprawny login lub haslo
                </div>
            }
            if (NorseWar.Helper.Methods.LoginFailed == "BanTime")
            {
                <div id="errorLogIn">
                    Masz bana
                </div>
            }
        }



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="button success" type="submit" value="Zaloguj" />
            </div>
        </div>
    </div>
}

<h3>Nie posiadasz jeszcze konta? </h3>
<h3>Przejdź do <a href="@Url.Action("Register", "Panel")">rejestracji!</a></h3>

