@model NorseWar.Models.Account

<h2>Stwórz swoją unikalną postać!</h2>
<br />

@if (NorseWar.Helper.Methods.AccountActive != null)
{
    <div id="errorLogIn">
        Podany użytkownik już istnieje
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Login) } }) <br />
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", Id = "errorLogIn" })
        </div>

        <br />

        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) } }) <br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", Id = "errorLogIn" })
        </div>

        <br />

        <div class="col-md-10">
            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Mail) } }) <br />
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger", Id = "errorLogIn" })
        </div>

        <br />

        <h4>Wybierz klasę postaci:</h4>

        <div class="obrazek-container cc-selector">
            Mag <br />
            @*<input id="mageIm" type="radio" name="credit-card" value="Mage" />*@
            @Html.RadioButtonFor(m => m.CharacterClass, "Mage", new { @class = "RadioButtonImg", Id = "mageIm" })
            <label class="drinkcard-cc mageIm" for="mageIm"></label>
        </div>

        <div class="obrazek-container cc-selector">
            Wojownik<br>

            @*<input id="warriorIm" class="RadioButtonImg" name="CharacterClass" type="radio" value="Warrior">*@

            @Html.RadioButtonFor(m => m.CharacterClass, "Warrior", new { @class = "RadioButtonImg", Id = "warriorIm" })
            @*<label class="drinkcard-cc warriorIm __browserLink_selected" for="warriorIm"></label>*@

            <label class="drinkcard-cc warriorIm" for="warriorIm"></label>
        </div>

        <div class="obrazek-container cc-selector">
            Łucznik <br />
            @*<input id="archerIm" type="radio" name="credit-card" value="Archer" />*@
            @Html.RadioButtonFor(m => m.CharacterClass, "Archer", new { @class = "RadioButtonImg", Id = "archerIm" })
            <label class="drinkcard-cc archerIm" for="archerIm"></label>
        </div>
       
        
    </div>
   
    <br />
    <div class="form-group" style="height: 250px;">

    </div>
    <div class="col-md-offset-2 col-md-10 buttonOnRegister2">
        <div>
            @Html.ValidationMessageFor(model => model.CharacterClass, "", new { @class = "text-danger", Id = "errorLogIn" })
        </div>
    </div>
    <div>
        <input class="button success buttonOnRegister" type="submit" value="Stwórz konto!" />
    </div>
}
