@model NorseWar.Models.AccountMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountMessageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
