@model NorseWar.Models.ViewModel.ItemViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "View";
}

@*<h1>Weapons</h1>
@foreach (var item in Model.weapons)
{
    <div>
    @item.ItemWeaponID.<br />
    @item.Name <br />
    @item.Description
    </div>

}
<h1>Shields</h1>
@foreach (var item in Model.shields)
{
    <div>
        @item.ItemShieldID.<br />
        @item.Name <br />
        @item.Description
    </div>

}*@


