@model NorseWar.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Szczegóły</h2>
<hr />
<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StrBonus): @Html.DisplayFor(model => model.StrBonus)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.AgiBonus): @Html.DisplayFor(model => model.AgiBonus)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.DexBonus): @Html.DisplayFor(model => model.DexBonus)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.VitBonus): @Html.DisplayFor(model => model.VitBonus)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.IntBonus): @Html.DisplayFor(model => model.IntBonus)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.LukBonus): @Html.DisplayFor(model => model.LukBonus)
        </dt>

        <dt>
            Typ: @Html.DisplayFor(model => model.Type)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
