@model NorseWar.Models.MainModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tableRank">
    <thead>
        <tr>
            <th>
                Pozycja
            </th>
            <th>
                Postać
            </th>
            <th>
                Klasa
            </th>
            <th>
                Doświadczenie
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model.Account)
        {
            <tr data-href="/User/Details/@acc.AccountID">
                <td>@NorseWar.Helper.Methods.ShowPosition(acc.AccountID)</td>
                <td>@acc.Login</td>
                @if (acc.CharacterClass == NorseWar.Models.Characters.Mage)
                {
                    <td>Mag</td>
                }
                @if (acc.CharacterClass == NorseWar.Models.Characters.Warrior)
                {
                    <td>Wojownik</td>
                }
                @if (acc.CharacterClass == NorseWar.Models.Characters.Archer)
                {
                    <td>Łucznik</td>
                }
                <td>@acc.Experience</td>
            </tr>
        }
    </tbody>
</table>


<br />
<p class="tekstInfo3">Wyszukaj użytkownika</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchUser.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SearchUser.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="button success" type="submit" value="Szukaj" />
            </div>
        </div>
    </div>
}

<style>
    .tekstInfo2 {
        font-size: 17px;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }
    

    table tr[data-href] {
    cursor: pointer;
}

    th, td {
        padding: 8px;
        border-bottom: 1px solid #828E20;
    }

    tr:hover {background-color: #191E08;}
    th {
    background-color: #191E08;
    color: white;
}
</style>

<script>
    $(document).ready(function () {
        $('table tr').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>