@model NorseWar.Models.MainModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = (NorseWar.Models.Account)Session["User"];
}

<table id="tableRank">
    <thead href="#">
        <tr>
            <th>
                Pozycja
            </th>
            <th>
                Postać
            </th>
            <th>
                Klasa
            </th>
            <th>
                Doświadczenie
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var acc in Model.Account)
        {
            if (Model.OneAccount != null)
            {
                if (acc.Login == Model.OneAccount.Login)
                {
                    <tr data-href="/User/Details/@acc.AccountID" style="background-color:#191E08">
                        <td>@NorseWar.Helper.Methods.ShowPosition(acc.AccountID)</td>
                        <td>@acc.Login</td>
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Mage)
                        {
                            <td>Mag</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Warrior)
                        {
                            <td>Wojownik</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Archer)
                        {
                            <td>Łucznik</td>
                        }
                        <td>@acc.Experience</td>
                    </tr>
                }
                else
                {
                    <tr data-href="/User/Details/@acc.AccountID">
                        <td>@NorseWar.Helper.Methods.ShowPosition(acc.AccountID)</td>
                        <td>@acc.Login</td>
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Mage)
                        {
                            <td>Mag</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Warrior)
                        {
                            <td>Wojownik</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Archer)
                        {
                            <td>Łucznik</td>
                        }
                        <td>@acc.Experience</td>
                    </tr>
                }

            }
            else
            {
                if (acc.Login == user.Login)
                {
                    <tr data-href="/User/Details/@acc.AccountID" style="background-color:#191E08">
                        <td>@NorseWar.Helper.Methods.ShowPosition(acc.AccountID)</td>
                        <td>@acc.Login</td>
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Mage)
                        {
                            <td>Mag</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Warrior)
                        {
                            <td>Wojownik</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Archer)
                        {
                            <td>Łucznik</td>
                        }
                        <td>@acc.Experience</td>
                    </tr>
                }
                else
                {
                    <tr data-href="/User/Details/@acc.AccountID">
                        <td>@NorseWar.Helper.Methods.ShowPosition(acc.AccountID)</td>
                        <td>@acc.Login</td>
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Mage)
                        {
                            <td>Mag</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Warrior)
                        {
                            <td>Wojownik</td>
                        }
                        @if (acc.CharacterClass == NorseWar.Models.Characters.Archer)
                        {
                            <td>Łucznik</td>
                        }
                        <td>@acc.Experience</td>
                    </tr>
                }
            }
        }


    </tbody>
</table>


<br />
<p class="tekstInfo3">Wyszukaj użytkownika</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchUser.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SearchUser.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="button success" type="submit" value="Szukaj" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('table tr').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>