@*@model NorseWar.Models.MainMessageModel*@

@{
    ViewBag.Title = "YourMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="listMsg" style="width:50%; float:left;">
    <thead>
        <tr>
            <th>
                Nadawca
            </th>
            <th>
                Temat
            </th>
            <th>
                Data
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (NorseWar.Models.Message item in Model)
            {
            <tr onclick="showMessage(@item.MessageId)" id="@item.MessageId">
                <td>@NorseWar.Helper.Methods.ShowSenderLogin(item.SenderId)</td>
                <td>@item.Title</td>
                <td>@NorseWar.Helper.Methods.ChangeData(item.Date)
                <td>
            </tr>
        }
    </tbody>
</table>

<script>
    function showMessage(id) {
        $("#messageText").css({ "visibility": "visible" });
        //alert("elo");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetMessage", "Messages")',
            data: "id=" + id,
            success: function (data) {
                //alert(data);
                $("#title").html("Temat: "+data.Title);
                $("#text").html("&emsp;"+data.Text);
                showSenderLogin(data.SenderId);
            }
        });
        
    }

    function showSenderLogin(id){
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SenderLogin", "Messages")',
            data: "id=" + id,
            success: function (data) {
                $("#sender").html("Od: " + data);
            }
        });
    }

</script>

<table class="tableMsg" id="messageText">
    <thead>
        <tr>
            <th id="title"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="sender"></td>
        </tr>
        <tr>
            <td id="text"></td>
        </tr>
    </tbody>
</table>
