@model NorseWar.Models.ItemWeapon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Szczegóły</h2>
<hr >
<div>
    @{ 
        var getId = Model.ItemWeaponID;
        var src = "wep" + getId + ".png";
    }

    <div class="itemDetailImage"><img src="~/weaponImg/@src" /></div>
    <dl class="dl-horizontal">
            Nazwa:

            @Html.DisplayFor(model => model.Name)</br>

            Opis:

            @Html.DisplayFor(model => model.Description)</br>

            Klasa:

            @Html.DisplayFor(model => model.Character)</br>

            @Html.DisplayNameFor(model => model.StrBonus):

            @Html.DisplayFor(model => model.StrBonus)</br>

            @Html.DisplayNameFor(model => model.AgiBonus):

            @Html.DisplayFor(model => model.AgiBonus)</br>

            @Html.DisplayNameFor(model => model.DexBonus):

            @Html.DisplayFor(model => model.DexBonus)</br>

            @Html.DisplayNameFor(model => model.VitBonus):

            @Html.DisplayFor(model => model.VitBonus)</br>

            @Html.DisplayNameFor(model => model.IntBonus):

            @Html.DisplayFor(model => model.IntBonus)</br>

            @Html.DisplayNameFor(model => model.LukBonus):

            @Html.DisplayFor(model => model.LukBonus)

</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.ItemWeaponID }) |
    @Html.ActionLink("Powrót", "Index")
</p>