<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norse War</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/mojeStyle.css" rel="stylesheet" />
</head>
<body >


    <div id="container">
        <map name="adminClick">
            <area shape="rect" coords="281,30,289,41" href="~/AdminPanel#">
        </map>
        <div id="topbar">
            <div id="topbarL">
                100 <img src="~/Content/shiny-coin2.png" width="12" height="12" />
            </div>
            <div id="topbarR">
                <img src="~/Content/logoFajne.png" width="350" height="50" usemap="#adminClick">
            </div>
        </div>

        <div id="navigation-left-bar">
            <div class="optionL">Karczma</div> @*todo*@
            <div class="optionL">Warta</div> @*todo*@
            <div class="optionL">Postać</div>

        </div>

        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


@*
    Front-End
    +Utworzenie strony dla panelu admina
    -Layout /
    -Tylne drzwi do tej strony /
    -Utworzenie strony dla gracza z informacjami o koncie    


    Back-End
    +Przy tworzeniu nowego konta uzupełnienie danych w tabeli o przedmiotach w ekwipunku oraz umiejętnościach
        (automatycznie przy wyborze klasy postać dostaje podstawową najsłabszą część z ekwipunku oraz zależnie od wybranej klasy bonus w statystykach)
    +++++++Rozwiązanie kwestii banowania graczy, która nie została dokończona na poprzednim sprincie.
    -Admin:
        +Lista broni
        +Dodawanie broni
        +Edytowanie broni
        +Usuwanie broni

        +Lista tarcz
        +Dodawanie tarcz
        +Edytowanie tarcz
        +Usuwanie tarcz

        -Dodanie wymaganych klas dla itemow(shield najpierw)

        +Lista graczy
        +Edytowanie graczy
        +Usuwanie graczy
        +Banowanie graczy

    Bug List
    -Usuwanie postaci nie działa poprawnie
*@
