@model NorseWar.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Stats.StatsID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stats.StatsID)
            </dd>*@


        <b>Login:</b> @Html.DisplayFor(model => model.Login) <br />

        <b>Klasa:</b>  @Html.DisplayFor(model => model.CharacterClass) <br />

        <b>@Html.DisplayNameFor(model => model.Experience)</b>
        <t>:</t>  @Html.DisplayFor(model => model.Experience) <br />

        <b>@Html.DisplayNameFor(model => model.Gold)</b>
        <t>:</t> @Html.DisplayFor(model => model.Gold) <br />
        <br />




        <dt>
            <b>Weapon</b>
        </dt>

        <dd>
            @{var eqListW = Model.AccountItemWeapon.Where(x => x.Equiped == true && x.AccountID == Model.AccountID).ToList(); }


            @foreach (var item in eqListW)
            {
                <t> @item.ItemWeapon.Name </t><br />
            }
        </dd>

        <dt>
            <b> Shield</b>
        </dt>

        <dd>
            @{var eqListS = Model.AccountItemShield.Where(x => x.Equiped == true && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in eqListS)
            {
                <t> @item.ItemShield.Name </t><br />
            }
        </dd>

        <dt>
            <b> Armor</b>
        </dt>

        <dd>
            @{var eqListA = Model.AccountItemArmor.Where(x => x.Equiped == true && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in eqListA)
            {
                <t> @item.ItemArmor.Name </t><br />
            }
        </dd>

        <dt>
            <b>Legs</b>
        </dt>

        <dd>
            @{var eqListL = Model.AccountItemLegs.Where(x => x.Equiped == true && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in eqListL)
            {
                <t> @item.ItemLegs.Name </t><br />
            }
        </dd>

        <dt>
            <b> Accessory</b>
        </dt>

        <dd>
            @{var eqListAc = Model.AccountItemAccessory.Where(x => x.Equiped == true && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in eqListAc)
            {
                <t> @item.ItemAccessory.Name </t><br />
            }
        </dd>

        <dt>
            <b> Boots</b>
        </dt>

        <dd>
            @{var eqListB = Model.AccountItemBoots.Where(x => x.Equiped == true && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in eqListB)
            {
                <t> @item.ItemBoots.Name </t><br />
            }
        </dd>

        <br />

        <dt>
            <b>Backpack</b>
        </dt>
        
        <dd>
            @{var bpListS = Model.AccountItemShield.Where(x => x.Equiped == false && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in bpListS)
            {
                <t> @item.ItemShield.Name </t> <br />
            }
            @{var bpListW = Model.AccountItemWeapon.Where(x => x.Equiped == false && x.AccountID == Model.AccountID).ToList(); }

            @foreach (var item in bpListW)
            {
                <t> @item.ItemWeapon.Name </t> <br />
            }

        </dd>

        <br />

        <dt>
            <b>Stats</b>
        </dt>

        <dd>
            @{
                var Str = Model.Stats.Str.ToString();
                var Agi = Model.Stats.Agi.ToString();
                var Dex = Model.Stats.Dex.ToString();
                var Int = Model.Stats.Int.ToString();
                var Vit = Model.Stats.Vit.ToString();
                var Luk = Model.Stats.Luk.ToString();
            }


            <t>STR: @Str <br />AGI: @Agi <br />VIT: @Vit <br />DEX: @Dex <br />INT: @Int <br />LUK: @Luk <br /></t>

        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>