@model IEnumerable<NorseWar.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table id="tableGamers">
    <tr>
        <th>
            <span>Login</span>
        </th>
        <th>
            <span>Email</span>
        </th>
        <th>
            <span>Postać</span>
        </th>     
        <th>
            <span>Doświadczenie</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.AccountID }) |
            @Html.ActionLink("Szczegóły", "Details", "Stats", new { id = item.AccountID }, null) |
            @if (item.BanTime == null)
            {
                @Html.ActionLink("Banuj", "Ban", new { id = item.AccountID })
                <f>|</f>
            }
            else
            {
                @Html.ActionLink("Odbanuj", "UnBan", new { id = item.AccountID })
                <f>|</f>
            }

            @Html.ActionLink("Usuń", "Delete", new { id = item.AccountID })
        </td>
    </tr>
}

</table>
