@model NorseWar.Models.Stats

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Szczegóły</h2>
<hr />

<h2>@Html.DisplayFor(model => model.Account.Login)</h2>
<div>
    <dl class="dl-horizontal">
        @*<dd>
            @Html.DisplayFor(model => model.Account.Login)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Str): @Html.DisplayFor(model => model.Str)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Str)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Agi): @Html.DisplayFor(model => model.Agi)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Agi)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Dex): @Html.DisplayFor(model => model.Dex)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Dex)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Vit): @Html.DisplayFor(model => model.Vit)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Vit)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Int): @Html.DisplayFor(model => model.Int)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Int)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Luk): @Html.DisplayFor(model => model.Luk)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Luk)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.StatsID }) |
    @Html.ActionLink("Powrót", "Index","Accounts")
</p>
