@model NorseWar.Models.Battle
@{
    ViewBag.Title = "Fight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fight</h2>

@Model.Player1Hp;
@Model.Player2Hp;

<div>
    @foreach (var el in Model.Hits)
    {
        <br />
        @el.Player1Dmg; <br />
        @el.Player2Dmg; <br />
    }
</div>


<script>
    var hitsList = @Model.Hits;
</script>







