@model NorseWar.Models.Battle
@{
    ViewBag.Title = "Fight";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (NorseWar.Models.Account)Session["User"];
    var level = NorseWar.Helper.Methods.ShowUserLevel(user);
    int? weapon = NorseWar.Helper.Methods.GetWeaponId(user.AccountID);
    NorseWar.Models.Item weaponInfo = null;
    if (weapon != null)
    {
        weaponInfo = NorseWar.Helper.Methods.InfoAboutItem((int)weapon);
    }

    int? enemyWeapon = NorseWar.Helper.Methods.GetWeaponId(Model.enemy.AccountID);
    NorseWar.Models.Item enemyWeaponInfo = null;
    if (enemyWeapon != null) {
        enemyWeaponInfo = NorseWar.Helper.Methods.InfoAboutItem((int)enemyWeapon);
    }
}

<h2>Fight</h2>
<script>
    var player1 = @Model.Player1Hp;
    var player2 = @Model.Player2Hp;
    var dmgp1 = new Array();
    var dmgp2 = new Array();
    //alert(player1+" "+player2);
</script>


<div id="guardElements">
    @foreach (var el in Model.Hits)
    {
        <br />
        <script>
            dmgp1.push(@el.Player1Dmg);
            dmgp2.push(@el.Player2Dmg)
        </script>
        @*el.Player1Dmg; <br />
        @el.Player2Dmg; <br />*@
        

    }

</div>


<script>
    //var hitsList = @Model.Hits;
    //to jest warzywo
    //alert("życie1:"+player1+" "+dmgp2[0]+" "+dmgp2[1]+" "+dmgp2[2]);
    alert("życie1:"+player1+" "+dmgp2[0]+" "+dmgp2[1]+" "+dmgp2[2]+"\nżycie2:"+player2+" "+dmgp1[0]+" "+dmgp1[1]);
    //alert("elo");

    $("#guardElements").html("<div id='battle'></div><div><div id='herohealth'><div id='remainingherohealth'></div></div><div id='monsterhealth'><div id='remainingmonsterhealth'></div></div></div>"
                            +""
                            + "<div id='qButton' style='padding-top: 200px;'><input type='button' class='button success' value='OK' onclick='location.href = `../`'/></div>");
    $("#battle").html('<div id="hero"></div>\n<div id="attack"></div>'
            + '<div id="monster"></div>'
            + '<div id="monsterattack"></div>');
    var vocation = "@user.CharacterClass";
    var wpon = null;
    if(vocation=="Archer"){
        $("#hero").html('<img src="/Content/lucznik.png" height="120"/>');
        @if (@weapon != null)
        {
            @: $("#attack").html('<img src="@weaponInfo.Url" height="80"/>');
        }else
        {
            @: $("#attack").html('<img src="/weaponImg/weapon/bow.png" height="80"/>');
        }
        //$("#attack").html('<img src="/weaponImg/weapon/arrow.png" height="80"/>');
    }else if(vocation=="Mage"){
        $("#hero").html('<img src="/Content/czarodziej.png" height="120"/>');
        @if (@weapon != null)
        {
            @: $("#attack").html('<img src="@weaponInfo.Url" height="80"/>');
        }else
        {
            @: $("#attack").html('<img src="/Content/spell.png" height="80"/>');
        }
        //$("#attack").html('<img src="/Content/spell.png" height="120"/>');
    }else if(vocation=="Warrior"){
        $("#hero").html('<img src="/Content/rycerz.png" height="120"/>');
        @if (@weapon != null)
        {
            @: $("#attack").html('<img src="@weaponInfo.Url" height="80"/>');
        }else
        {
            @: $("#attack").html('<img src="/Content/miecz.png" height="80"/>');
        }
        //$("#attack").html('<img src="/Content/miecz.png" height="60"/>');
    }
    var enemyVocation = "@Model.enemy.CharacterClass";
    var ewpon = null;
    if(enemyVocation == "Archer"){
        $("#monster").html('<img src="/Content/lucznik.png" height="120"/>');
        @if (@enemyWeapon != null)
        {
            @: $("#monsterattack").html('<img src="@enemyWeaponInfo.Url" height="80"/>');
        }else
        {
            @: $("#monsterattack").html('<img src="/weaponImg/weapon/bow.png" height="80"/>');
        }

    } else if(enemyVocation == "Mage"){
        $("#monster").html('<img src="/Content/czarodziej.png" height="120"/>');
        @if (@enemyWeapon != null)
        {
            @: $("#monsterattack").html('<img src="@enemyWeaponInfo.Url" height="80"/>');
        }else
        {
            @: $("#monsterattack").html('<img src="/Content/spell.png" height="80"/>');
        }

    } else if(enemyVocation == "Warrior"){
        $("#monster").html('<img src="/Content/rycerz.png" height="120"/>');
        @if (@enemyWeapon != null)
        {
            @: $("#monsterattack").html('<img src="@enemyWeaponInfo.Url" height="80"/>');
        }else
        {
            @: $("#monsterattack").html('<img src="/Content/miecz.png" height="80"/>');
        }
    }
    //$("#monster").html('<img src="/Content/rycerz.png" height="120"/>');
    //$("#monsterattack").html('<img src="/Content/shiny-coin2.png" height="80"/>');
    startBattle();

    function writeWeapon(){

    }
    
    function startBattle() {
        $("#attack").css("visibility", "visible");
        $("#monsterattack").css("visibility", "visible");
        var herohp = player1;
        var monsterhp = player2;
        var herolife = $("#remainingherohealth").width();
        var monsterlife = $("#remainingmonsterhealth").width();
        var iter = 0;
        battleAnimation(iter);
        /*iter++;
        while (monsterlife > 0 && herolife > 0) {
            battleAnimation(iter);
            monsterlife = $("#remainingmonsterlife").width();
            herolife = $("#remainingherolife").width();
            iter++;
            //alert(iter);
        }*/
    }

    function battleAnimation(iter) {
        //alert("wywołanie "+iter);
        var iniHeroLife;
        var iniMonsterLife;
        if(iter===0){
            $("#attack").css("visibility", "visible");
            $("#monsterattack").css("visibility", "visible");
            var herohp = player1;
            var monsterhp = player2;
            var herolife = $("#remainingherohealth").width();
            var monsterlife = $("#remainingmonsterhealth").width();
            iniHeroLife=herolife;
            iniMonsterLife=monsterlife;
        }
        var herohit = dmgp1[iter];
        var monsterhit = dmgp2[iter];
        var attack = $("#attack");
        var multiplier = $("#herohealth").width() / 100;
        var monsterattack = $("#monsterattack");
        attack
            .css({ "top": $("#hero").position().top + 50, "left": ($("#monster").position().left + $("#hero").width())+'px' })
            .animate({ left: $("#monster").position().left + 'px' }, "slow")
            .fadeOut(300)
            .animate({ "left": $("#hero").position().left + $("#hero").width() })
            .fadeIn(300);
        //miejsce na wyższą matmę
        var procent = herohit/monsterhp;
        var pxhit = iniMonsterLife*procent;
        if(procent>1){
            pxhit=monsterlife;
        }
        //alert("Enemy: żyćko: "+player2+" hit: "+herohit);
        $("#remainingmonsterhealth").delay(1200).animate({ width: (monsterlife - pxhit) + 'px' });

        monsterattack
            .css({ "top": $("#hero").position().top + 50, "left": ($("#hero").position().left) + 'px' })
            .animate({ left: ($("#hero").position().left + $("#hero").width() - $("#monsterattack").width()) + 'px' }, "slow")
            .fadeOut(300)
            .animate({ "left": ($("#monster").position().left - $("#monsterattack").width()) + 'px' })
            .fadeIn(300);

        var mprocent = monsterhit/herohp;
        var px2hit = iniHeroLife*mprocent;
        if(mprocent>1){
            px2hit=herolife;
        }
        //alert("Player: żyćko: "+player1+" hit: "+monsterhit);
        $("#remainingherohealth").delay(1200).animate({ width: (herolife - px2hit) + 'px' });
        //attack.animate({opacity: 0});
        //attack.css('marginLeft', '0').animate({"opacity": 1});


        monsterlife -= herohit;
        herolife -= monsterhit;
        iter++;
        while (dmgp1[iter]!=null || dmgp2[iter]!=null) {
            //alert(iter);
            battleAnimation(iter);
            monsterlife = $("#remainingmonsterlife").width();
            herolife = $("#remainingherolife").width();
            iter++;
            //alert(iter);
        }
    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
</script>






