@model NorseWar.Models.Quest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Szczegóły</h2>
<hr>
<div>

            Opis:

            @Html.DisplayFor(model => model.Description)</br>

            Czas:

            @Html.DisplayFor(model => model.Time)</br>

            Doświadczenie:

            @Html.DisplayFor(model => model.ExpValue)

</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć", "Index")
</p>
