@model NorseWar.Models.Quest

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
           Czas: @Html.DisplayFor(model => model.TimeSecond)
        </dt>

        <dt>
            Doświadczenie: @Html.DisplayFor(model => model.ExpValue)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
