@model NorseWar.Models.AccountAndBoost

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = (NorseWar.Models.Account)Session["User"];
    bool validate = false;
    if (Model.Account.AccountID == user.AccountID)
    {
        validate = true;
    }

    //ITEMY NA ZIOMECZKU
    int? accessoryId = NorseWar.Helper.Methods.GetAccessoryId(user);
    int? armorId = NorseWar.Helper.Methods.GetArmorId(user);
    int? bootId = NorseWar.Helper.Methods.GetBootId(user);
    int? helmetId = NorseWar.Helper.Methods.GetHelmetId(user);
    int? legId = NorseWar.Helper.Methods.GetLegId(user);
    int? shieldId = NorseWar.Helper.Methods.GetShieldId(user);
    int? weaponId = NorseWar.Helper.Methods.GetWeaponId(user);
    // int siano = NorseWar.Helper.Methods.GetUserFromBase(user).Gold;

}

@if (validate)
{
    <script src="~/Scripts/UserScript.js"></script>
}

<div id="chracterDetailsContainer">
    <div id="characterImageBox">
        <div id="characterInfo"><h2>@Model.Account.Login</h2></div>
        <div id="block1">
            <div class="bpbox" id="accessorycontainer">
                @if (accessoryId != null)
                {
                    var accessory = NorseWar.Helper.Methods.InfoAboutItem((int)accessoryId);
                    <div class="draggable accessory" iditem="@accessory.Id" itemname="@accessory.Name" strbonus="@accessory.StrBonus" agibonus="@accessory.AgiBonus" vitbonus="@accessory.VitBonus" dexbonus="@accessory.DexBonus" intbonus="@accessory.IntBonus" lukbonus="@accessory.LukBonus"><img src="@accessory.Url"></div>
                }
            </div> <br>
            <div class="bpbox" id="weaponcontainer">
                @if (weaponId != null)
                {
                    var weapon = NorseWar.Helper.Methods.InfoAboutItem((int)weaponId);
                    <div class="draggable weapon" iditem="@weapon.Id" itemname="@weapon.Name" strbonus="@weapon.StrBonus" agibonus="@weapon.AgiBonus" vitbonus="@weapon.VitBonus" dexbonus="@weapon.DexBonus" intbonus="@weapon.IntBonus" lukbonus="@weapon.LukBonus"><img src="@weapon.Url"></div>
                }
            </div> <br>
            <div class="bpbox" id="shieldcontainer">
                @if (shieldId != null)
                {
                    var shield = NorseWar.Helper.Methods.InfoAboutItem((int)shieldId);
                    <div class="draggable shield" iditem="@shield.Id" itemname="@shield.Name" strbonus="@shield.StrBonus" agibonus="@shield.AgiBonus" vitbonus="@shield.VitBonus" dexbonus="@shield.DexBonus" intbonus="@shield.IntBonus" lukbonus="@shield.LukBonus"><img src="@shield.Url"></div>
                }
            </div> <br>
        </div>
        <div id="block2">
            <div id="characterImage">
                <img src="~/Content/mag1.png" width="240" height="320" />
            </div>
            <div id="boots">
                <div class="bpbox" id="bootscontainer">
                    @if (bootId != null)
                    {
                        var boot = NorseWar.Helper.Methods.InfoAboutItem((int)bootId);
                        <div class="draggable boots" iditem="@boot.Id" itemname="@boot.Name" strbonus="@boot.StrBonus" agibonus="@boot.AgiBonus" vitbonus="@boot.VitBonus" dexbonus="@boot.DexBonus" intbonus="@boot.IntBonus" lukbonus="@boot.LukBonus"><img src="@boot.Url"></div>
                    }
                </div>
            </div>
        </div>
        <div id="block3">
            <div class="bpbox" id="helmetcontainer">
                @if (helmetId != null)
                {
                    var helmet = NorseWar.Helper.Methods.InfoAboutItem((int)helmetId);
                    <div class="draggable helmet" iditem="@helmet.Id" itemname="@helmet.Name" strbonus="@helmet.StrBonus" agibonus="@helmet.AgiBonus" vitbonus="@helmet.VitBonus" dexbonus="@helmet.DexBonus" intbonus="@helmet.IntBonus" lukbonus="@helmet.LukBonus"><img src="@helmet.Url"></div>
                }
            </div> <br>
            <div class="bpbox" id="armorcontainer">
                @if (armorId != null)
                {
                    var armor = NorseWar.Helper.Methods.InfoAboutItem((int)armorId);
                    <div class="draggable armor" iditem="@armor.Id" itemname="@armor.Name" strbonus="@armor.StrBonus" agibonus="@armor.AgiBonus" vitbonus="@armor.VitBonus" dexbonus="@armor.DexBonus" intbonus="@armor.IntBonus" lukbonus="@armor.LukBonus"><img src="@armor.Url"></div>
                }
            </div> <br>
            <div class="bpbox" id="legscontainer">
                @if (legId != null)
                {
                    var leg = NorseWar.Helper.Methods.InfoAboutItem((int)legId);
                    <div class="draggable legs" iditem="@leg.Id" itemname="@leg.Name" strbonus="@leg.StrBonus" agibonus="@leg.AgiBonus" vitbonus="@leg.VitBonus" dexbonus="@leg.DexBonus" intbonus="@leg.IntBonus" lukbonus="@leg.LukBonus"><img src="@leg.Url"></div>
                }    
            </div> <br>
        </div>
    </div>
    <f id="description" style="visibility: hidden;">elo</f>
    <f id="itemOptions" style="visibility: hidden;">
        <a href="#">Sprzedaj</a><br />
        <a href="#">Zdejmij</a><br />
        <a href="#" onclick="hideItemOptions();">Zamknij</a>
    </f>
    <div id="backpackStatsBox">
        @if (validate)
            {

            <h3>Plecak</h3>
            <div id="backpackBox">
                @{
                    var listBackPack = NorseWar.Helper.Methods.GetItemsOnUserBackpack(user);
                    int rozmiar = listBackPack.Count();
                }
                <div id="backpackBlock1">
                    <div class="box">
                        @if (rozmiar > 0)
                        {
                            int itemId = listBackPack[0].ItemId;
                            var item = NorseWar.Helper.Methods.InfoAboutItem((int)itemId).Type.ToString();
                            var classname = "";
                            switch (item)
                            {
                                case "Shield":
                                    classname = "shield";
                                    break;
                                case "Weapon":
                                    classname = "weapon";
                                    break;
                                case "Accessory":
                                    classname = "accessory";
                                    break;
                                case "Armor":
                                    classname = "armor";
                                    break;
                                case "Boots":
                                    classname = "boots";
                                    break;
                                case "Helmet":
                                    classname = "helmet";
                                    break;
                                case "Legs":
                                    classname = "legs";
                                    break;
                            }

                            <div class="draggable @classname" iditem="@listBackPack[0].Item.Id" itemname="@listBackPack[0].Item.Name" strbonus="@listBackPack[0].Item.StrBonus" agibonus="@listBackPack[0].Item.AgiBonus" vitbonus="@listBackPack[0].Item.VitBonus" dexbonus="@listBackPack[0].Item.DexBonus" intbonus="@listBackPack[0].Item.IntBonus" lukbonus="@listBackPack[0].Item.LukBonus"><img src="@listBackPack[0].Item.Url"></div>
                        }
                    </div> <br>
                    <div class="box">
                        @if (rozmiar > 1)
                        {
                            int itemId = listBackPack[1].ItemId;
                            var item = NorseWar.Helper.Methods.InfoAboutItem((int)itemId).Type.ToString();
                            var classname = "";
                            switch (item)
                            {
                                case "Shield":
                                    classname = "shield";
                                    break;
                                case "Weapon":
                                    classname = "weapon";
                                    break;
                                case "Accessory":
                                    classname = "accessory";
                                    break;
                                case "Armor":
                                    classname = "armor";
                                    break;
                                case "Boots":
                                    classname = "boots";
                                    break;
                                case "Helmet":
                                    classname = "helmet";
                                    break;
                                case "Legs":
                                    classname = "legs";
                                    break;
                            }
                            <div class="draggable @classname" iditem="@listBackPack[1].Item.Id" itemname="@listBackPack[1].Item.Name" strbonus="@listBackPack[1].Item.StrBonus" agibonus="@listBackPack[1].Item.AgiBonus" vitbonus="@listBackPack[1].Item.VitBonus" dexbonus="@listBackPack[1].Item.DexBonus" intbonus="@listBackPack[1].Item.IntBonus" lukbonus="@listBackPack[1].Item.LukBonus"><img src="@listBackPack[1].Item.Url"></div>
                        }
                    </div> <br>
                </div>
                <div id="backpackBlock2">
                    <div class="box">
                        @if (rozmiar > 2)
                        {
                            int itemId = listBackPack[2].ItemId;
                            var item = NorseWar.Helper.Methods.InfoAboutItem((int)itemId).Type.ToString();
                            var classname = "";
                            switch (item)
                            {
                                case "Shield":
                                    classname = "shield";
                                    break;
                                case "Weapon":
                                    classname = "weapon";
                                    break;
                                case "Accessory":
                                    classname = "accessory";
                                    break;
                                case "Armor":
                                    classname = "armor";
                                    break;
                                case "Boots":
                                    classname = "boots";
                                    break;
                                case "Helmet":
                                    classname = "helmet";
                                    break;
                                case "Legs":
                                    classname = "legs";
                                    break;
                            }
                            <div class="draggable @classname" iditem="@listBackPack[2].Item.Id" itemname="@listBackPack[2].Item.Name" strbonus="@listBackPack[2].Item.StrBonus" agibonus="@listBackPack[2].Item.AgiBonus" vitbonus="@listBackPack[2].Item.VitBonus" dexbonus="@listBackPack[2].Item.DexBonus" intbonus="@listBackPack[2].Item.IntBonus" lukbonus="@listBackPack[2].Item.LukBonus"><img src="@listBackPack[2].Item.Url"></div>
                        }
                    </div> <br>
                    <div class="box">
                    @if (rozmiar > 3)
                    {
                        int itemId = listBackPack[3].ItemId;
                        var item = NorseWar.Helper.Methods.InfoAboutItem((int)itemId).Type.ToString();
                        var classname = "";
                        switch (item)
                        {
                            case "Shield":
                                classname = "shield";
                                break;
                            case "Weapon":
                                classname = "weapon";
                                break;
                            case "Accessory":
                                classname = "accessory";
                                break;
                            case "Armor":
                                classname = "armor";
                                break;
                            case "Boots":
                                classname = "boots";
                                break;
                            case "Helmet":
                                classname = "helmet";
                                break;
                            case "Legs":
                                classname = "legs";
                                break;
                        }
                        <div class="draggable @classname" iditem="@listBackPack[3].Item.Id" itemname="@listBackPack[3].Item.Name" strbonus="@listBackPack[3].Item.StrBonus" agibonus="@listBackPack[3].Item.AgiBonus" vitbonus="@listBackPack[3].Item.VitBonus" dexbonus="@listBackPack[3].Item.DexBonus" intbonus="@listBackPack[3].Item.IntBonus" lukbonus="@listBackPack[3].Item.LukBonus"><img src="@listBackPack[3].Item.Url"></div>
                    }

                    </div> <br>
                </div>
                <div id="backpackBlock3">
                    <div class="box">
                    @if (rozmiar > 4)
                    {
                        int itemId = listBackPack[4].ItemId;
                        var item = NorseWar.Helper.Methods.InfoAboutItem((int)itemId).Type.ToString();
                        var classname = "";
                        switch (item)
                        {
                            case "Shield":
                                classname = "shield";
                                break;
                            case "Weapon":
                                classname = "weapon";
                                break;
                            case "Accessory":
                                classname = "accessory";
                                break;
                            case "Armor":
                                classname = "armor";
                                break;
                            case "Boots":
                                classname = "boots";
                                break;
                            case "Helmet":
                                classname = "helmet";
                                break;
                            case "Legs":
                                classname = "legs";
                                break;
                        }
                        <div class="draggable @classname" iditem="@listBackPack[4].Item.Id" itemname="@listBackPack[4].Item.Name" strbonus="@listBackPack[4].Item.StrBonus" agibonus="@listBackPack[4].Item.AgiBonus" vitbonus="@listBackPack[4].Item.VitBonus" dexbonus="@listBackPack[4].Item.DexBonus" intbonus="@listBackPack[4].Item.IntBonus" lukbonus="@listBackPack[4].Item.LukBonus"><img src="@listBackPack[4].Item.Url"></div>
                    }
                    </div> <br>
                    <div class="box">
                    @if (rozmiar > 5)
                    {
                        int itemId = listBackPack[5].ItemId;
                        var item = NorseWar.Helper.Methods.InfoAboutItem((int)itemId).Type.ToString();
                        var classname = "";
                        switch (item)
                        {
                            case "Shield":
                                classname = "shield";
                                break;
                            case "Weapon":
                                classname = "weapon";
                                break;
                            case "Accessory":
                                classname = "accessory";
                                break;
                            case "Armor":
                                classname = "armor";
                                break;
                            case "Boots":
                                classname = "boots";
                                break;
                            case "Helmet":
                                classname = "helmet";
                                break;
                            case "Legs":
                                classname = "legs";
                                break;
                        }
                        <div class="draggable @classname" iditem="@listBackPack[5].Item.Id" itemname="@listBackPack[5].Item.Name" strbonus="@listBackPack[5].Item.StrBonus" agibonus="@listBackPack[5].Item.AgiBonus" vitbonus="@listBackPack[5].Item.VitBonus" dexbonus="@listBackPack[5].Item.DexBonus" intbonus="@listBackPack[5].Item.IntBonus" lukbonus="@listBackPack[5].Item.LukBonus"><img src="@listBackPack[5].Item.Url"></div>
                    }
                    </div> <br>
                </div>
                <div id="littlehelper" style="visibility: hidden;"></div>
            </div>

                    }
        <h3>Statystyki</h3>
        <script>
            $(".draggable").on("mouseover", function(event){
                var strBonus = parseInt($(this).attr("strbonus"));
                var agiBonus = parseInt($(this).attr("agibonus"));
                var vitBonus = parseInt($(this).attr("vitbonus"));
                var dexBonus = parseInt($(this).attr("dexbonus"));
                var intBonus = parseInt($(this).attr("intbonus"));
                var lukBonus = parseInt($(this).attr("lukbonus"));
                var itemName = $(this).attr("itemname");
                var content = "";
                if(strBonus!==0){
                    content+="STR: "+strBonus+"<br />";
                }
                if(agiBonus!==0){
                    content+="AGI: "+agiBonus+"<br />";
                }
                if(vitBonus!==0){
                    content+="VIT: "+vitBonus+"<br />";
                }
                if(dexBonus!==0){
                    content+="DEX: "+dexBonus+"<br />";
                }
                if(intBonus!==0){
                    content+="INT: "+intBonus+"<br />";
                }
                if(lukBonus!==0){
                    content+="LUK: "+lukBonus+"<br />";
                }

                $("#description").css({"visibility": "visible"});
                $("#description").css({left: (event.pageX+20), top: (event.pageY-30)});
                $("#description").html(itemName+"<br>"+content);
            });

            $(".draggable").mouseout(function(){
                $("#description").css({"visibility": "hidden"});
            });

            $(".draggable").on("mousedown", function(event){
                $("#description").css({"visibility": "hidden"});
            });

            var X;
            var Y;

            $(document).on("mousemove", function(event){
                X = event.pageX;
                Y = event.pageY;
            });

            function hideItemOptions(){
                $("#itemOptions").css({"visibility": "hidden"});
            }

            function getBoost(stat){
                elo = null;

            }

            var str, vit, agi, dex, int, luk;
            function addStat(id) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetPoints", "User")',
                    data: "id=" + id,
                    success: function (data) {
                        //alert("chuj");
                        var gold = parseInt($("#gold").text());
                        if (gold >= data) {
                            switch (id) {
                                case 0:
                                    var value = data;
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("getBoost", "User")',
                                        data: 'name=str',
                                        success: function(data7){
                                            $("#strBlock").html("STR: <f id='strvalue'>" + (parseInt(value)+parseInt(data7)) + "</f>");
                                            $("#gstr").html(parseInt(value)+1);
                                        }
                                    });
                                    break;
                                case 1:
                                    var value = data;
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("getBoost", "User")',
                                        data: 'name=agi',
                                        success: function(data7){
                                            $("#agiBlock").html("AGI: <f id='agivalue'>" + (parseInt(value)+parseInt(data7)) + "</f>");
                                            $("#gagi").html(parseInt(value)+1);
                                        }
                                    });

                                    break;
                                case 2:
                                    var value = data;
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("getBoost", "User")',
                                        data: 'name=vit',
                                        success: function(data7){
                                            $("#vitBlock").html("VIT: <f id='vitvalue'>" + (parseInt(value)+parseInt(data7)) + "</f>");
                                            $("#gvit").html(parseInt(value)+1);
                                        }
                                    });
                                    break;
                                case 3:
                                    var value = data;
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("getBoost", "User")',
                                        data: 'name=dex',
                                        success: function(data7){
                                            $("#dexBlock").html("DEX: <f id='dexvalue'>" + (parseInt(value)+parseInt(data7)) + "</f>");
                                            $("#gdex").html(parseInt(value)+1);
                                        }
                                    });
                                    break;
                                case 4:
                                    var value = data;
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("getBoost", "User")',
                                        data: 'name=int',
                                        success: function(data7){
                                            $("#intBlock").html("INT: <f id='intvalue'>" + (parseInt(value)+parseInt(data7)) + "</f>");
                                            $("#gint").html(parseInt(value)+1);
                                        }
                                    });
                                    break;
                                case 5:
                                    var value = data;
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("getBoost", "User")',
                                        data: 'name=luk',
                                        success: function(data7){
                                            $("#lukBlock").html("LUK: <f id='lukvalue'>" + (parseInt(value)+parseInt(data7)) + "</f>");
                                            $("#glux").html(parseInt(value)+1);
                                        }
                                    });
                                    break;
                            }
                            $("#gold").html(gold - value);
                        }

                        //location.reload();
                    }
                });
            }
        </script>

        <div id="statsBox">
            <div id="statsBlock1" style="margin-left: 25%;">
                @if (validate)
                {
                    int str = Model.Account.Stats.Str + Model.StatsBoost.Str;
                    int agi = Model.Account.Stats.Agi + Model.StatsBoost.Agi;
                    int vit = Model.Account.Stats.Vit + Model.StatsBoost.Vit;
                    int dex = Model.Account.Stats.Dex + Model.StatsBoost.Dex;
                    int inn = Model.Account.Stats.Int + Model.StatsBoost.Int;
                    int luk = Model.Account.Stats.Luk + Model.StatsBoost.Luk;


                    <div class="statParent">

                        <div id="strBlock">STR: <f id="strvalue">@str</f></div>
                        @if (validate)
                        {
                            <div id="strPlus" onclick="addStat(0)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                    <div class="statParent">
                        <div id="agiBlock">AGI: <f id="agivalue">@agi</f></div>
                        @if (validate)
                        {
                            <div id="agiPlus" onclick="addStat(1)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                    <div class="statParent">
                        <div id="vitBlock">VIT: <f id="vitvalue">@vit</f></div>
                        @if (validate)
                        {
                            <div id="vitPlus" onclick="addStat(2)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                    <div class="statParent">
                        <div id="dexBlock">DEX: <f id="dexvalue">@dex</f></div>
                        @if (validate)
                        {
                            <div id="dexPlus" onclick="addStat(3)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                    <div class="statParent">
                        <div id="intBlock">INT: <f id="intvalue">@inn</f></div>
                        @if (validate)
                        {
                            <div id="intPlus" onclick="addStat(4)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                    <div class="statParent">
                        <div id="lukBlock">LUK: <f id="lukvalue">@luk</f></div>
                        @if (validate)
                        {
                            <div id="lukPlus" onclick="addStat(5)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                }

            </div>

            <div id="statsBlock1">
                @if (!validate)
                {
                    <div class="statParent">
                        <div id="de">STR: @Model.Account.Stats.Str</div>
                    </div>

                    <div class="statParent">
                        <div id="dexBlock">AGI: @Model.Account.Stats.Agi</div>
                    </div>
                }
            </div>
            <div id="statsBlock2">
                @if (validate)
                {
                    <div><f id="gstr">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                    <div><f id="gagi">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                    <div><f id="gvit">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                    <div><f id="gdex">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                    <div><f id="gint">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                    <div><f id="glux">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>

                    <script>
                        $(function () {
                            var str = @Model.Account.Stats.Str;
                            var agi = @Model.Account.Stats.Agi;
                            var vit = @Model.Account.Stats.Vit;
                            var dex = @Model.Account.Stats.Dex;
                            var int = @Model.Account.Stats.Int;
                            var lux = @Model.Account.Stats.Luk;

                            $("#gstr").html(str+1);
                            $("#gagi").html(agi+1);
                            $("#gvit").html(vit+1);
                            $("#gdex").html(dex+1);
                            $("#gint").html(int+1);
                            $("#glux").html(lux+1);
                        });
                    </script>
                }
                @if (!validate)
                {
                    <div class="statParent">
                        <div id="vitBlock">VIT: @Model.Account.Stats.Vit</div>
                    </div>

                    <div class="statParent">
                        <div id="dexBlock">DEX: @Model.Account.Stats.Dex</div>
                    </div>
                }
            </div>
            <div id="statsBlock3">
                @if (!validate)
                {
                    <div class="statParent">
                        <div id="vitBlock">INT: @Model.Account.Stats.Int</div>
                    </div>

                    <div class="statParent">
                        <div id="dexBlock">LUK: @Model.Account.Stats.Luk</div>
                    </div>
                }
            </div>
        </div>
        <br /><br /><br />
        @if (!validate)
            {
            <a href='@Url.Action("Create", "Messages", new { id = Model.Account.AccountID }, null)'>
                <img src='@Url.Content("~/placesImg/enveIco.png")' width="48" height="31" />
            </a>
        }
    </div>
</div>

<div id="statsBox">

</div>
<div id="emptySpace" style="visibility: hidden" data-request-url="@Url.Action("DragItemToFreeSpace", "User")"></div>
<div id="takeOff" style="visibility: hidden" data-request-url="@Url.Action("TakeOffItem", "User")"></div>
<div id="changeItems" style="visibility: hidden" data-request-url="@Url.Action("ChangeItems", "User")"></div>

<script>
    $(function () {
        $(".body-content").css({ "background-image": "url(../../Content/home4.jpg)", "background-size": "110%", "height": "515px"});
    });
</script>