@model NorseWar.Models.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = (NorseWar.Models.Account)Session["User"];
    bool validate = false;
    if (Model.AccountID == user.AccountID)
    {
        validate = true;
    }

    int siano = NorseWar.Helper.Methods.GetUserFromBase(user).Gold;

    //int? shieldIt = NorseWar.Helper.Methods.GetShieldId(user);
}

@if (validate)
{
    <script src="~/Scripts/UserScript.js"></script>
}

<div id="chracterDetailsContainer">
    <div id="characterImageBox">
        <div id="characterInfo"><h2>@Model.Login</h2></div>
        <div id="block1">
            <div class="bpbox" id="accessorycontainer"><div class="draggable accessory" bonus="elo"><img src="~/weaponImg/accessory.png"></div></div> <br>
            <div class="bpbox" id="weaponcontainer"></div> <br>
            <div class="bpbox" id="shieldcontainer">
                @*@if (shieldIt != null)
                {
                    var shield = NorseWar.Helper.Methods.InfoAboutShield((int)shieldIt);
                    <div class="draggable shield" bonus="@shield.StrBonus" onclick="showItemOptions(/*id*/);" onmouseover="showDescription(/* tu będzie można wpierdolić id itemka przez (at)*/);"><img src="~/weaponImg/strong shield.png"></div>
                }*@


            </div> <br>
        </div>
        <div id="block2">
            <div id="characterImage">
                <img src="~/Content/mag1.png" width="240" height="320" />
            </div>
            <div id="boots">
                <div class="bpbox" id="bootscontainer"></div>
            </div>
        </div>
        <div id="block3">
            <div class="bpbox" id="helmetcontainer"></div> <br>
            <div class="bpbox" id="armorcontainer"></div> <br>
            <div class="bpbox" id="legscontainer"></div> <br>
        </div>
    </div>
    <f id="description" style="visibility: hidden;">elo</f>
    <f id="itemOptions" style="visibility: hidden;">
        <a href="#">Sprzedaj</a><br />
        <a href="#">Zdejmij</a><br />
        <a href="#" onclick="hideItemOptions();">Zamknij</a>
    </f>
    <div id="backpackStatsBox">
        @if (validate)
            {

            <h3>Plecak</h3>
            <div id="backpackBox">
                @*@{
                    var wsio = NorseWar.Helper.Methods.Rozmiar(user);
                    int rozmiar = wsio.Count();
                }*@
                <div id="backpackBlock1">
                    <div class="box">
                        @*@if (rozmiar > 0)
                        {
                         //   @wsio[0].
                        }*@
                        <div class="draggable shield"><img src="~/weaponImg/shield1.png"></div>
                    </div> <br>
                    <div class="box"><div class="draggable weapon"><img src="~/weaponImg/wep1.png"></div></div> <br>
                </div>
                <div id="backpackBlock2">
                    <div class="box"><div class="draggable boots" bonus="buty"><img src="~/weaponImg/boots.png"></div></div> <br>
                    <div class="box"><div class="draggable armor"><img src="~/weaponImg/armor.png"></div></div> <br>
                </div>
                <div id="backpackBlock3">
                    <div class="box"><div class="draggable helmet"><img src="~/weaponImg/helmet.png"></div></div> <br>
                    <div class="box"><div class="draggable legs"><img src="~/weaponImg/legs.png"></div></div> <br>
                </div>
                <div id="littlehelper" style="visibility: hidden;"></div>
            </div>

                    }
        <h3>Statystyki</h3>
        <script>
            function showDescription(){
                
                //ajax do bazy, żeby zgarnąć szczegóły itemka, na razie tylko testy z jednym divem
                
            }

            $(".draggable").on("mouseover", function(event){
                var content = $(this).attr("bonus");
                $("#description").css({"visibility": "visible"});
                $("#description").css({left: (event.pageX+20), top: (event.pageY-30)});
                $("#description").html(event.pageX+" "+event.pageY+"<br>"+content);
            });

            $(".draggable").mouseout(function(){
                $("#description").css({"visibility": "hidden"});
            });

            $(".draggable").on("mousedown", function(event){
                $("#description").css({"visibility": "hidden"});
            });

            var X;
            var Y;

            $(document).on("mousemove", function(event){
                X = event.pageX;
                Y = event.pageY;
            });
            function showItemOptions(){
                $("#itemOptions").css({"visibility": "visible"});
                $("#itemOptions").css({"left": X, "top": Y});
            }

            function hideItemOptions(){
                $("#itemOptions").css({"visibility": "hidden"});
            }

            function addStat(id) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetPoints", "User")',
                    data: "id=" + id,
                    success: function (data) {
                        //alert("chuj");
                        var gold = parseInt($("#gold").text());
                        if (gold >= data) {
                            switch (id) {
                                case 0:
                                    var value = data;
                                    $("#strBlock").html("STR: " + value);
                                    $("#gstr").html(parseInt(value)+1);
                                    break;
                                case 1:
                                    var value = data;
                                    $("#agiBlock").html("AGI: " + value);
                                    $("#gagi").html(parseInt(value)+1);
                                    break;
                                case 2:
                                    var value = data;
                                    $("#vitBlock").html("VIT: " + value);
                                    $("#gvit").html(parseInt(value)+1);
                                    break;
                                case 3:
                                    var value = data;
                                    $("#dexBlock").html("DEX: " + value);
                                    $("#gdex").html(parseInt(value)+1);
                                    break;
                                case 4:
                                    var value = data;
                                    $("#intBlock").html("INT: " + value);
                                    $("#gint").html(parseInt(value)+1);
                                    break;
                                case 5:
                                    var value = data;
                                    $("#lukBlock").html("LUK: " + value);
                                    $("#glux").html(parseInt(value)+1);
                                    break;
                            }
                            $("#gold").html(gold - value);
                        }

                        //location.reload();
                    }
                });
            }
        </script>

        <div id="statsBox">
            <div id="statsBlock1" style="margin-left: 25%;">
                @if (validate)
                {
                    <div class="statParent">
                        <div id="strBlock">STR: @Model.Stats.Str</div>
                        @if (validate)
                        {
                            <div id="strPlus" onclick="addStat(0)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                    <div class="statParent">
                        <div id="agiBlock">AGI: @Model.Stats.Agi</div>
                        @if (validate)
                        {
                            <div id="agiPlus" onclick="addStat(1)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                        }
                    </div>
                        <div class="statParent">
                            <div id="vitBlock">VIT: @Model.Stats.Vit</div>
                            @if (validate)
                            {
                                <div id="vitPlus" onclick="addStat(2)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                            }
                        </div>
                        <div class="statParent">
                            <div id="dexBlock">DEX: @Model.Stats.Dex</div>
                            @if (validate)
                            {
                                <div id="dexPlus" onclick="addStat(3)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                            }
                        </div>
                        <div class="statParent">
                            <div id="intBlock">INT: @Model.Stats.Int</div>
                            @if (validate)
                            {
                                <div id="intPlus" onclick="addStat(4)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                            }
                        </div>
                        <div class="statParent">
                            <div id="lukBlock">LUK: @Model.Stats.Luk</div>
                            @if (validate)
                            {
                                <div id="lukPlus" onclick="addStat(5)"><img src="~/Content/themes/plusik.png" width="15" height="15" /></div>
                            }
                        </div>
                }

            </div>

            <div id="statsBlock1">
                @if (!validate)
                {
                    <div class="statParent">
                        <div id="de">STR: @Model.Stats.Str</div>
                    </div>

                    <div class="statParent">
                        <div id="dexBlock">AGI: @Model.Stats.Agi</div>
                    </div>
                }
            </div>
            <div id="statsBlock2">
                @if (validate)
                {
                    <div><f id="gstr">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                    <div><f id="gagi">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                        <div><f id="gvit">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                        <div><f id="gdex">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                        <div><f id="gint">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>
                        <div><f id="glux">100</f> <img src="~/Content/shiny-coin2.png" width="12" height="12" /></div>

                        <script>
                            $(function () {
                                var str = @Model.Stats.Str;
                                var agi = @Model.Stats.Agi;
                                var vit = @Model.Stats.Vit;
                                var dex = @Model.Stats.Dex;
                                var int = @Model.Stats.Int;
                                var lux = @Model.Stats.Luk;

                                $("#gstr").html(str+1);
                                $("#gagi").html(agi+1);
                                $("#gvit").html(vit+1);
                                $("#gdex").html(dex+1);
                                $("#gint").html(int+1);
                                $("#glux").html(lux+1);
                            });
                        </script>
                }
                @if (!validate)
                {
                    <div class="statParent">
                        <div id="vitBlock">VIT: @Model.Stats.Vit</div>
                    </div>

                    <div class="statParent">
                        <div id="dexBlock">DEX: @Model.Stats.Dex</div>
                    </div>
                }
            </div>
            <div id="statsBlock3">
                @if (!validate)
                {
                    <div class="statParent">
                        <div id="vitBlock">INT: @Model.Stats.Int</div>
                    </div>

                    <div class="statParent">
                        <div id="dexBlock">LUK: @Model.Stats.Luk</div>
                    </div>
                }
            </div>
        </div>
        <br /><br /><br />
        @if (!validate)
            {
            <a href='@Url.Action("Create", "Messages", new { id = Model.AccountID }, null)'>
                <img src='@Url.Content("~/placesImg/enveIco.png")' width="48" height="31" />
            </a>
        }
    </div>
</div>

<div id="statsBox">

</div>