@model List<NorseWar.Models.Stats>

@{
    ViewBag.Title = "Arena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*

    pobierac moje konto
    pobierac dane typka od ID

*@
<script>
    $(function () {
        $(".body-content").css({ "background-image": "url(../../Content/arena.png)", "background-size": "100%", "height": "510px" });
    });
</script>

<div>
    <p style="float:left; width:48%;">
        @NorseWar.Helper.Methods.ShowLoginFromId(Model[0].Account.AccountID)
    </p>
    <p style="float:right; width:48%;">
        @NorseWar.Helper.Methods.ShowLoginFromId(Model[1].Account.AccountID)
    </p>
</div>



<table style="width:48%; float:left;">
    <thead>
        <tr>
            <th>
                Str
            </th>
            <th>
                Agi
            </th>
            <th>
                Dex
            </th>
            <th>
                Vit
            </th>
            <th>
                Int
            </th>
            <th>
                Luk
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model[0].Str</td>
            <td>@Model[0].Agi</td>
            <td>@Model[0].Dex</td>
            <td>@Model[0].Vit</td>
            <td>@Model[0].Int</td>
            <td>@Model[0].Luk</td>
        </tr>
    </tbody>
</table>

<table style="width:48%; float:right;">
    <thead>
        <tr>
            <th>
                Str
            </th>
            <th>
                Agi
            </th>
            <th>
                Dex
            </th>
            <th>
                Vit
            </th>
            <th>
                Int
            </th>
            <th>
                Luk
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model[1].Str</td>
            <td>@Model[1].Agi</td>
            <td>@Model[1].Dex</td>
            <td>@Model[1].Vit</td>
            <td>@Model[1].Int</td>
            <td>@Model[1].Luk</td>
        </tr>
    </tbody>
</table>

<div id="arenatest"><img src="~/Content/rycerz.png" width="220" height="220"></div>
<img src="~/Content/miecz.png" id="chuj">
<div id="arenatest1"><img src="~/Content/czarodziej.png" width="220" height="220"></div>
<img src="~/Content/spell.png" id="chuj1">
<style>
    #chuj {
        width: 170px;
        height: 100px;
        position: relative;
        animation-name: example;
        animation-duration: 3s;
        float: left;
        margin-top: 140px;
    }

    #chuj1 {
        width: 170px;
        height: 100px;
        position: relative;
        animation-name: example1;
        animation-delay: 3s;
        animation-duration: 3s;
        float: right;
        margin-top: 50px;
    }

    #arenatest {
        text-align: left;
        float: left;
    }

    #arenatest1 {
        text-align: right;
        float: right;
        position: relative
    }
</style>
