@{
    ViewBag.Title = "Guard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = (NorseWar.Models.Account)Session["User"];
    var guard = NorseWar.Helper.Methods.CheckGuard(user);

    var time = DateTime.Now;
    var level = NorseWar.Helper.Methods.ShowUserLevel(user);
    var quest = NorseWar.Helper.Methods.CheckIfQuest(user);

}

<div id="guardInfo">
    <h2>Warta</h2>
    Psst, chcesz dorobić troszkę grosza? <br />Doskonale! <br />Potrzymaj mój miecz i stań przy bramie. Wrócę za kilka godzin ;)<br /><br />
</div>
@if (guard && !quest)
{
    <div id="guardElements" style="visibility: hidden;">
        <div>Twoja warta, nie masz farta :(</div><br />
        <div><span id="count"></span></div>
        <div id="rectcont">
            <div id="remainingtimevisualization"></div>
        </div>
        <br />
        <div><input type="button" value="Anuluj" class="button success" onclick="cancelGuard();" /></div>
        <script>
        var guardStart;
        var guardEnd;


        $.ajax({
            type: 'POST',
            url: '@Url.Action("GuardEndTime", "User")',
            data: '',
            success: function (data) {
                //alert(parseInt(data[0].start) + " " + data[0].now + " " + data[0].end);
                var guardStart = data[0].start;
                var guardEnd = data[0].end;
                var counter = data[0].now;
                $("#guardElements").css({ "visibility": "visible" });
                var max_counter = parseInt(guardEnd - guardStart);
                var rwidth = $("#remainingtimevisualization").width();
                setInterval(function () {

                    counter--;

                    if (counter >= 0) {

                        //span = $("#count");
                        $("#count").html(secondsTimeSpanToHMS(counter));
                    }
                    if (counter === 0) {
                        $("#count").html("Twoja warta dobiegła końca :)");
                        clearInterval(counter);
                        location.reload();
                    }

                    var minus = rwidth * ((max_counter - counter) / max_counter);
                    $("#remainingtimevisualization").css({ width: rwidth - minus });
                }, 1100);
            }
        });


        function secondsTimeSpanToHMS(s) {
            var h = Math.floor(s / 3600); //Get whole hours
            s -= h * 3600;
            var m = Math.floor(s / 60); //Get remaining minutes
            s -= m * 60;
            return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
        }

        function cancelGuard() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GuardCancels", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }
        </script>
    </div>
}
else if(!guard && !quest)
{
    <div>
        <div>
            <!-- tu jakieś pierdolone tło może być -->
        </div>
        <div id="guardElements">
            <div id="guardSlider">
                <input type="range" value="1" min="1" max="10" step="1" id="sliderguard"> <br />
                <input type="button" onclick="setGuard()" value="Start" class="success button" /> <br /><br />
                <div id="guardtime">
                    1 godzina
                </div>
                <div id="hajs">
                    <script>
                        $("#hajs").html(Math.floor((@level*parseInt($("#sliderguard").val())*4)-(@level-(parseInt($("#sliderguard").val()))/10))+"&nbsp;"+'<img src="/Content/shiny-coin2.png" height="15">');
                    </script>
                </div>
            </div>

            <script>

            $(document).on('input', '#sliderguard', function () {
                setGuardTime();
            });

            function setGuard() {
                //tu nic nie ma, lecz powstanie
                //alert($("#sliderguard").val());
                var hours = $("#sliderguard").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GuardStarts", "User")',
                    data: "id=" + hours,
                    success: function (data) {
                        //alert("chuj");
                        //wyjebanie elementów i start paska
                        $("#guardSlider").remove();
                        var counter = hours * 3600;
                        var max_counter = hours * 3600;
                        var bar = "<div>";
                        bar += "<div><span id='count'></span></div>";
                        bar += "<div id='rectcont'><div id='remainingtimevisualization'></div></div><br/>";
                        bar += "<div><input type='button' value='Anuluj' class='button success' onclick='cancelGuard();'/></div>";

                        bar += "</div>";
                        $("#guardElements").html(bar);
                        var rwidth = $("#remainingtimevisualization").width();
                        setInterval(function () {

                            counter--;

                            if (counter >= 0) {
                                span = $("#count");
                                span.html(secondsTimeSpanToHMS(counter));
                            }
                            if (counter === 0) {
                                span.html("Twojas warta się skończyła");
                                clearInterval(counter);
                                location.reload();
                            }
                            var minus = rwidth * ((max_counter - counter) / max_counter);
                            $("#remainingtimevisualization").css({ width: rwidth - minus });
                        }, 1100);

                    }
                });
            }

            function setGuardTime() {
                var value = parseInt($("#sliderguard").val());
                if (value === 1) {
                    $("#guardtime").html($("#sliderguard").val() + " godzina");
                } else if (value === 2 || value === 3 || value === 4) {
                    $("#guardtime").html($("#sliderguard").val() + " godziny");
                } else {
                    $("#guardtime").html($("#sliderguard").val() + " godzin");
                }
                $("#hajs").html(Math.floor((@level*parseInt($("#sliderguard").val())*4)-(@level-(parseInt($("#sliderguard").val()))/10))+"&nbsp;"+'<img src="/Content/shiny-coin2.png" height="15">');
                //(lvl * time * 4) - (lvl - (time / 10))
            }

            function secondsTimeSpanToHMS(s) {
                var h = Math.floor(s / 3600); //Get whole hours
                s -= h * 3600;
                var m = Math.floor(s / 60); //Get remaining minutes
                s -= m * 60;
                return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
            }

            function cancelGuard() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GuardCancels", "User")',
                    data: '',
                    success: function (data) {
                        location.reload();
                    }
                });
            }

            </script>
        </div>
    </div>
}
else if (!guard && quest)
{
    <div id="guardElements" style="visibility: hidden;">
        <div id="questInfo">Jesteś na zadaniu xD</div><br />
        <div id="questTimer"><span id="count"></span></div>
        <div id="rectcont">
            <div id="remainingtimevisualization"></div>
        </div>
        <br />
        <div><input type="button" value="Anuluj" class="button success" onclick="cancelTavern();" /></div>
        <script>
        $("#guardInfo").remove();
        var guardStart;
        var guardEnd;

        function cancelTavern() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("MissionCancels", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("QuestEndTime", "User")',
            data: '',
            success: function (data) {
                //alert(parseInt(data[0].start) + " " + data[0].now + " " + data[0].end);
                var guardStart = data[0].start;
                var guardEnd = data[0].end;
                var counter = data[0].now;
                $("#guardElements").css({ "visibility": "visible" });
                var max_counter = parseInt(guardEnd - guardStart);
                var rwidth = $("#remainingtimevisualization").width();
                timerid = setInterval(function () {

                    if (counter < 0) {
                        $("#questInfo").remove();
                        $("#questTimer").remove();
                        $("#rectcont").remove();

                        $("#guardElements").html("<div id='battle'></div><div><div id='herohealth'><div id='remainingherohealth'></div></div><div id='monsterhealth'><div id='remainingmonsterhealth'></div></div></div>"
                            +""
                            + "<div id='qButton' style='padding-top: 200px;'><input type='button' class='button success' value='OK' onclick='finishQuest();'/></div>");
                        $("#battle").html('<div id="hero"></div>\n<div id="attack"></div>'
		                        + '<div id="monster"></div>'
		                        + '<div id="monsterattack"></div>');
                        clearInterval(timerid);
                        //alert("");
                        var vocation = "@user.CharacterClass";
                        if(vocation=="Archer"){
                            $("#hero").html('<img src="/Content/lucznik.png" height="120"/>');
                            $("#attack").html('<img src="/weaponImg/weapon/arrow.png" height="80"/>');
                        }else if(vocation=="Mage"){
                            $("#hero").html('<img src="/Content/czarodziej.png" height="120"/>');
                            $("#attack").html('<img src="/Content/spell.png" height="120"/>');
                        }else if(vocation=="Warrior"){
                            $("#hero").html('<img src="/Content/rycerz.png" height="120"/>');
                            $("#attack").html('<img src="/Content/miecz.png" height="60"/>');
                        }
                        $("#monster").html('<img src="/Content/hydra.png" height="120"/>');
                        $("#monsterattack").html('<img src="/Content/spell.png" height="80"/>');
                        startBattle();
                    }

                    function startBattle() {
                        $("#attack").css("visibility", "visible");
                        $("#monsterattack").css("visibility", "visible");
                        var herolife = $("#remainingherohealth").width();
                        var monsterlife = parseInt($("#remainingherohealth").width());
                        function battleAnimation() {
                            var herohit = getRandomInt(10, 20);
                            var monsterhit = getRandomInt(1, 13);
                            var attack = $("#attack");
                            var multiplier = $("#herohealth").width() / 100;
                            var monsterattack = $("#monsterattack");
                            attack
                                .css({ "top": $("#hero").position().top + 50, "left": ($("#monster").position().left + $("#hero").width())+'px' })
                                .animate({ left: $("#monster").position().left + 'px' }, "slow")
                                .fadeOut(300)
                                .animate({ "left": $("#hero").position().left + $("#hero").width() })
                                .fadeIn(300);

                            $("#remainingmonsterhealth").delay(1200).animate({ width: (monsterlife - herohit) + 'px' });

                            monsterattack
                                .css({ "top": $("#hero").position().top + 50, "left": ($("#hero").position().left) + 'px' })
                                .animate({ left: ($("#hero").position().left + $("#hero").width() - $("#monsterattack").width()) + 'px' }, "slow")
                                .fadeOut(300)
                                .animate({ "left": ($("#monster").position().left - $("#monsterattack").width()) + 'px' })
                                .fadeIn(300);

                            $("#remainingherohealth").delay(1200).animate({ width: (herolife - monsterhit) + 'px' });
                            //attack.animate({opacity: 0});
                            //attack.css('marginLeft', '0').animate({"opacity": 1});


                            monsterlife -= herohit;
                            herolife -= monsterhit;
                        }
                        while (monsterlife > 0) {
                            battleAnimation();
                        }
                    }

                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min + 1)) + min;
                    }

                    counter--;

                    if (counter >= 0) {

                        //span = $("#count");
                        $("#count").html(secondsTimeSpanToHMS(counter));
                    }
                    if (counter === 0) {
                        $("#count").html("Twoje zadanie dobiegło końca :)");
                        clearInterval(counter);
                        location.reload();
                    }

                    var minus = rwidth * ((max_counter - counter) / max_counter);
                    $("#remainingtimevisualization").css({ width: rwidth - minus });
                }, 1100);
            }
        });


        function secondsTimeSpanToHMS(s) {
            var h = Math.floor(s / 3600); //Get whole hours
            s -= h * 3600;
            var m = Math.floor(s / 60); //Get remaining minutes
            s -= m * 60;
            return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
        }

        function cancelGuard() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GuardCancels", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }

        function finishQuest() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FinishQuest", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }
        </script>
    </div>
}

<script>
    $(function () {
        $(".body-content").css({ "background-image": "url(../../Content/warta.png)", "background-size": "100%", "height": "515px" });
    });
</script>


