
@{
    ViewBag.Title = "Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div id="descriptionmarket"></div>
    <div style="float: left; width: 500px;">
        <table id="markettable">
            @foreach (NorseWar.Models.Item item in Model)
            {

                <tr class="marketitem" onmouseover="" iditem="@item.Id" itemname="@item.Name" strbonus="@item.StrBonus" agibonus="@item.AgiBonus" vitbonus="@item.VitBonus" dexbonus="@item.DexBonus" intbonus="@item.IntBonus" lukbonus="@item.LukBonus" >
                    <td id="img"><img src="@item.Url" height="50" /></td>
                    <td id="itemname" width="250">@item.Name</td>
                    <td id="buybutton"><input type="button" class="button success" value="Kup" onclick="buyItem(@item.Id);" /></td>
                </tr>
                @*<div>
                        @item.Id <br />
                        @Html.ActionLink("BuyItemFromMarket", "BuyItemFromMarket", new { id = item.Id }) <br /><br />
                    </div>*@
            }
        </table>

    </div>
</div>

<script>
    $(".marketitem").on("mouseover", function (event) {

    });


    var clicked;
    $('.marketitem').click(function () {
       clicked=$('.marketitem').index(this);
    });

    function buyItem(id) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("BuyItemFromMarket", "User")',
            data: 'id='+id,
            success: function (data) {
                //zmiana parametrów xD diva
                //alert(data.Id);
                //iditem=".Id" 
                //itemname="Name" 
                //strbonus="StrBonus" 
                //agibonus=".AgiBonus" 
                //vitbonus=".VitBonus" 
                //dexbonus=".DexBonus" 
                //intbonus=".IntBonus" 
                //lukbonus =".LukBonus"
                $(".marketitem:eq(" + clicked + ")").attr('iditem', data.Id);
                $(".marketitem:eq(" + clicked + ")").attr('itemname', data.Name);
                $(".marketitem:eq(" + clicked + ")").attr('strbonus', data.StrBonus);
                $(".marketitem:eq(" + clicked + ")").attr('agibonus', data.AgiBonus);
                $(".marketitem:eq(" + clicked + ")").attr('vitbonus', data.VitBonus);
                $(".marketitem:eq(" + clicked + ")").attr('dexbonus', data.DexBonus);
                $(".marketitem:eq(" + clicked + ")").attr('intbonus', data.IntBonus);
                $(".marketitem:eq(" + clicked + ")").attr('lukbonus', data.LukBonus);
                $(".marketitem:eq(" + clicked + ")").find("#img").html('<img src="' + data.Url + '" height="50"/>');
                $(".marketitem:eq(" + clicked + ")").find("#itemname").html(data.Name);
                $(".marketitem:eq(" + clicked + ")").find("#buybutton").html('<input type="button" class="button success" value="Kup" onclick="buyItem('+data.Id+');"/>');
            }
        });
    }
</script>


@*<div id="backpackBox">
    <div id="backpackBlock1">
        <div class="box">
            <img src="~/weaponImg/armor/archer_armor.png" />
        </div> <br>
        <div class="box">
            <img src="~/weaponImg/armor/archer_armor2.png" />
        </div> <br>
    </div>

    <div id="backpackBlock2">
        <div class="box">
            <img src="~/weaponImg/armor/armor.png" />
        </div> <br>
        <div class="box">
            <img src="~/weaponImg/shield/royal_shield.png" />
        </div> <br>
    </div>
    <div id="backpackBlock2">
        <div class="box">
            <img src="~/weaponImg/shield/steel_shield.png" />
        </div> <br>
        <div class="box">
            <img src="~/weaponImg/weapon/sword2.png" />
        </div> <br>
    </div>
</div>*@


<script>
    $(function () {
        $(".body-content").css({ "background-image": "url(../../Content/market1.jpg)", "background-size": "100%", "height": "380px" });
    });
</script>