@{
    ViewBag.Title = "Tavern";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (NorseWar.Models.Account)Session["User"];
    var guard = NorseWar.Helper.Methods.CheckGuard(user);
    var quest = NorseWar.Helper.Methods.CheckIfQuest(user);
    var level = NorseWar.Helper.Methods.ShowUserLevel(user);
    int? weapon = NorseWar.Helper.Methods.GetWeaponId(user.AccountID);
    NorseWar.Models.Item weaponInfo = null;
    if (weapon != null)
    {
        weaponInfo = NorseWar.Helper.Methods.InfoAboutItem((int)weapon);
    }
}

@if (guard && !quest)
{
    <div id="guardElements" style="visibility: hidden;">
        <div>Jesteś na warcie, nie możesz wykonywać zadań, ziomeczku xD</div>
        <div><span id="count"></span></div>
        <div id="rectcont"><div id="remainingtimevisualization"></div></div>
        <div><input type="button" class="button success" value="Anuluj" onclick="cancelGuard();" /></div>
        <script>
            var guardStart;
            var guardEnd;


            $.ajax({
                type: 'POST',
                url: '@Url.Action("GuardEndTime", "User")',
                data: '',
                success: function (data) {
                    //alert(parseInt(data[0].start) + " " + data[0].now + " " + data[0].end);
                    var guardStart = data[0].start;
                    var guardEnd = data[0].end;
                    var counter = data[0].now;
                    $("#guardElements").css({ "visibility": "visible" });
                    var max_counter = parseInt(guardEnd - guardStart);
                    var rwidth = $("#remainingtimevisualization").width();
                    setInterval(function () {

                        counter--;

                        if (counter >= 0) {

                            //span = $("#count");
                            $("#count").html(secondsTimeSpanToHMS(counter));
                        }
                        if (counter === 0) {
                            $("#count").html("koniec czasu, dziwko");
                            clearInterval(counter);
                            location.reload();
                        }

                        var minus = rwidth * ((max_counter - counter) / max_counter);
                        $("#remainingtimevisualization").css({ width: rwidth - minus });
                    }, 1100);
                }
            });


            function secondsTimeSpanToHMS(s) {
                var h = Math.floor(s / 3600); //Get whole hours
                s -= h * 3600;
                var m = Math.floor(s / 60); //Get remaining minutes
                s -= m * 60;
                return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
            }

            function cancelGuard() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GuardCancels", "User")',
                    data: '',
                    success: function (data) {
                        location.reload();
                    }
                });
            }

        </script>
    </div>
}
else if (!guard && !quest)
{
    <img src="~/placesImg/taver.png" alt="Taverna"
         usemap="#tavernaMap">

    <map name="tavernaMap">
        <area id="myBtn" shape="rect" coords="389,147,425,215" href="#foo" alt="Sun">
    </map>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Witaj zbłąkany wędrowcze, wybierz se questa!</h3>
            <div id="pomocnik" style="visibility: hidden;">0</div>
            <div>
                @foreach (NorseWar.Models.Quest item in Model)
                {
                    var exp = NorseWar.Helper.Methods.SetExp(level, item.TimeSecond);
                    int exp2 = (int)((double)exp * item.ExpValue);
                    <div id="rodzic" class="rrr">
                        @item.Description
                        <div>                         
                            Doświadczenie: @exp2 <br />
                            <!--Wynagrodzenie: 30 <img src="~/Content/shiny-coin2.png" width="12" height="12" /> <br />-->
                            Czas trwania: @NorseWar.Helper.Methods.SetQuestTime(item.TimeSecond)<br />
                            <input class="button success" type="button" value="No to w drogę!"/>
                        </div>

                    </div>
                }
            </div>
        </div>

    </div>

    <script>
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    $(".success").click(function (e) {
        switch ($(".button").index(this)) {
            case 0:
                $("#pomocnik").html(0);
                break;
            case 1:
                $("#pomocnik").html(1);
                break;
            case 2:
                $("#pomocnik").html(2);
                break;
        }

        GoOnQuest();

    });

    function GoOnQuest() {


        var clicked = $("#pomocnik").text();
        //alert(clicked);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SelectQuest", "User")',
            data: 'id=' + clicked,
            success: function (data) {
                location.reload();
            }
        });

    }
    </script>
}
else if (!guard && quest)
{
    <div id="guardElements" style="visibility: hidden;">
        <div id="questInfo"><h2>Jesteś w trakcie wykonywania zadania...</h2></div><br />
        <div style="margin-top: 100px;" id="questTimer"><span id="count"></span></div>
        <div id="rectcont">
            <div id="remainingtimevisualization"></div>
        </div>
        <br />
        <div><input type="button" value="Anuluj" class="button success" onclick="cancelTavern();" /></div>
        <script>
        var guardStart;
        var guardEnd;

        function cancelTavern() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("MissionCancels", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("QuestEndTime", "User")',
            data: '',
            success: function (data) {
                //alert(parseInt(data[0].start) + " " + data[0].now + " " + data[0].end);
                var guardStart = data[0].start;
                var guardEnd = data[0].end;
                var counter = data[0].now;
                $("#guardElements").css({ "visibility": "visible" });
                var max_counter = parseInt(guardEnd - guardStart);
                var rwidth = $("#remainingtimevisualization").width();
                var timerid = setInterval(function () {

                    if (counter < 0) {
                        $("#questInfo").remove();
                        $("#questTimer").remove();
                        $("#rectcont").remove();

                        $("#guardElements").html("<div id='battle'></div><div><div id='herohealth'><div id='remainingherohealth'></div></div><div id='monsterhealth'><div id='remainingmonsterhealth'></div></div></div>"
                            +""
                            + "<div id='qButton' style='padding-top: 200px;'><input type='button' class='button success' value='OK' onclick='finishQuest();'/></div>");
                        $("#battle").html('<div id="hero"></div>\n<div id="attack"></div>'
		                        + '<div id="monster"></div>'
		                        + '<div id="monsterattack"></div>');
                        clearInterval(timerid);
                        //alert("");
                        var vocation = "@user.CharacterClass";
                        var wpon = null;
                        if(vocation=="Archer"){
                            $("#hero").html('<img src="/Content/lucznik.png" height="120"/>');
                            @if (@weapon != null)
                            {
                                @: $("#attack").html('<img src="@weaponInfo.Url" height="80"/>');
                            }else
                            {
                                @: $("#attack").html('<img src="/weaponImg/weapon/bow.png" height="80"/>');
                            }
                            //$("#attack").html('<img src="/weaponImg/weapon/arrow.png" height="80"/>');
                        }else if(vocation=="Mage"){
                            $("#hero").html('<img src="/Content/czarodziej.png" height="120"/>');
                            @if (@weapon != null)
                            {
                                @: $("#attack").html('<img src="@weaponInfo.Url" height="80"/>');
                            }else
                            {
                                @: $("#attack").html('<img src="/Content/spell.png" height="80"/>');
                            }
                            //$("#attack").html('<img src="/Content/spell.png" height="120"/>');
                        }else if(vocation=="Warrior"){
                            $("#hero").html('<img src="/Content/rycerz.png" height="120"/>');
                            @if (@weapon != null)
                            {
                                @: $("#attack").html('<img src="@weaponInfo.Url" height="80"/>');
                            }else
                            {
                                @: $("#attack").html('<img src="/Content/miecz.png" height="80"/>');
                            }
                            //$("#attack").html('<img src="/Content/miecz.png" height="60"/>');
                        }
                        $("#monster").html('<img src="/Content/hydra.png" height="120"/>');
                        $("#monsterattack").html('<img src="/Content/spell.png" height="80"/>');
                            startBattle();
                        }
                    function writeWeapon(){

                    }
                    
                    function startBattle() {
                        $("#attack").css("visibility", "visible");
                        $("#monsterattack").css("visibility", "visible");
                        var herolife = $("#remainingherohealth").width();
                        var monsterlife = parseInt($("#remainingherohealth").width());
                        function battleAnimation() {
                            var herohit = getRandomInt(10, 20);
                            var monsterhit = getRandomInt(1, 13);
                            var attack = $("#attack");
                            var multiplier = $("#herohealth").width() / 100;
                            var monsterattack = $("#monsterattack");
                            attack
                                .css({ "top": $("#hero").position().top + 50, "left": ($("#monster").position().left + $("#hero").width())+'px' })
                                .animate({ left: $("#monster").position().left + 'px' }, "slow")
                                .fadeOut(300)
                                .animate({ "left": $("#hero").position().left + $("#hero").width() })
                                .fadeIn(300);

                            $("#remainingmonsterhealth").delay(1200).animate({ width: (monsterlife - herohit) + 'px' });

                            monsterattack
                                .css({ "top": $("#hero").position().top + 50, "left": ($("#hero").position().left) + 'px' })
                                .animate({ left: ($("#hero").position().left + $("#hero").width() - $("#monsterattack").width()) + 'px' }, "slow")
                                .fadeOut(300)
                                .animate({ "left": ($("#monster").position().left - $("#monsterattack").width()) + 'px' })
                                .fadeIn(300);

                            $("#remainingherohealth").delay(1200).animate({ width: (herolife - monsterhit) + 'px' });
                            //attack.animate({opacity: 0});
                            //attack.css('marginLeft', '0').animate({"opacity": 1});


                            monsterlife -= herohit;
                            herolife -= monsterhit;
                        }
                        while (monsterlife > 0) {
                            battleAnimation();
                        }
                    }

                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min + 1)) + min;
                    }

                    counter--;

                    if (counter >= 0) {

                        //span = $("#count");
                        $("#count").html(secondsTimeSpanToHMS(counter));
                    }
                    if (counter === 0) {
                        $("#count").html("Twoje zadanie dobiegło końca :)");
                        clearInterval(counter);
                        location.reload();
                    }

                    var minus = rwidth * ((max_counter - counter) / max_counter);
                    $("#remainingtimevisualization").css({ width: rwidth - minus });
                }, 1100);
            }
        });

        function secondsTimeSpanToHMS(s) {
            var h = Math.floor(s / 3600); //Get whole hours
            s -= h * 3600;
            var m = Math.floor(s / 60); //Get remaining minutes
            s -= m * 60;
            return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
        }

        function cancelGuard() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GuardCancels", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }

        function finishQuest() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FinishQuest", "User")',
                data: '',
                success: function (data) {
                    location.reload();
                }
            });
        }
        </script>
    </div>

    <script>
    $(function () {
        $(".body-content").css({ "background-image": "url(../../Content/lochy.png)", "background-size": "100%", "height": "480px" });
    });
    </script>
}
